<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find fdr_IMU_09052)/urdf/fdr_IMU_09052.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find fdr_IMU_09052)/urdf.rviz" />
</launch>